In [9]:
import pandas as pd

### 2. Entendimiento de los Datos

In [97]:
# RecolecciÃ³n de los datos

import csv

with open("communities.data", "r") as file:
    reader = csv.reader(file)
    data = [row for row in reader]

data = pd.DataFrame(data)
data

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,?,?,Lakewoodcity,1,0.19,0.33,0.02,0.9,0.12,...,0.12,0.26,0.2,0.06,0.04,0.9,0.5,0.32,0.14,0.2
1,53,?,?,Tukwilacity,1,0,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0,?,0.67
2,24,?,?,Aberdeentown,1,0,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0,?,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0,?,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0,?,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,12,?,?,TempleTerracecity,10,0.01,0.4,0.1,0.87,0.12,...,0.01,0.28,0.05,?,?,?,?,0,?,0.09
1990,6,?,?,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,...,0.02,0.37,0.2,?,?,?,?,0,?,0.45
1991,9,9,80070,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1992,25,17,72600,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1993,6,?,?,Ontariocity,10,0.2,0.78,0.14,0.46,0.24,...,0.11,0.3,0.05,0.08,0.04,0.73,0.5,1,0.13,0.48

In [16]:
# Imprime solo las variables con su descripcion
count=0

with open("communities.names", "r") as file:
    for line in file:
        if line.strip():  # Verificar que la lÃ­nea no estÃ© vacÃ­a
            if line.strip()[0:3] == '-- ' and (line.strip()[-1] == ')' or line.strip()[-1] == '#'):
                print(f'Column No. {count}:', line.strip()[2:])
                count+=1

Column No. 0:  state: US state (by number) - not counted as predictive above, but if considered, should be consided nominal (nominal)
Column No. 1:  county: numeric code for county - not predictive, and many missing values (numeric)
Column No. 2:  community: numeric code for community - not predictive and many missing values (numeric)
Column No. 3:  communityname: community name - not predictive - for information only (string)
Column No. 4:  fold: fold number for non-random 10 fold cross validation, potentially useful for debugging, paired tests - not predictive (numeric)
Column No. 5:  population: population for community: (numeric - decimal)
Column No. 6:  householdsize: mean people per household (numeric - decimal)
Column No. 7:  racepctblack: percentage of population that is african american (numeric - decimal)
Column No. 8:  racePctWhite: percentage of population that is caucasian (numeric - decimal)
Column No. 9:  racePctAsian: percentage of population that is of asian heritage (numeric - decimal)
Column No. 10:  racePctHisp: percentage of population that is of hispanic heritage (numeric - decimal)
Column No. 11:  agePct12t21: percentage of population that is 12-21 in age (numeric - decimal)
Column No. 12:  agePct12t29: percentage of population that is 12-29 in age (numeric - decimal)
Column No. 13:  agePct16t24: percentage of population that is 16-24 in age (numeric - decimal)
Column No. 14:  agePct65up: percentage of population that is 65 and over in age (numeric - decimal)
Column No. 15:  numbUrban: number of people living in areas classified as urban (numeric - decimal)
Column No. 16:  pctUrban: percentage of people living in areas classified as urban (numeric - decimal)
Column No. 17:  medIncome: median household income (numeric - decimal)
Column No. 18:  pctWWage: percentage of households with wage or salary income in 1989 (numeric - decimal)
Column No. 19:  pctWFarmSelf: percentage of households with farm or self employment income in 1989 (numeric - decimal)
Column No. 20:  pctWInvInc: percentage of households with investment / rent income in 1989 (numeric - decimal)
Column No. 21:  pctWSocSec: percentage of households with social security income in 1989 (numeric - decimal)
Column No. 22:  pctWPubAsst: percentage of households with public assistance income in 1989 (numeric - decimal)
Column No. 23:  pctWRetire: percentage of households with retirement income in 1989 (numeric - decimal)
Column No. 24:  medFamInc: median family income (differs from household income for non-family households) (numeric - decimal)
Column No. 25:  perCapInc: per capita income (numeric - decimal)
Column No. 26:  whitePerCap: per capita income for caucasians (numeric - decimal)
Column No. 27:  blackPerCap: per capita income for african americans (numeric - decimal)
Column No. 28:  indianPerCap: per capita income for native americans (numeric - decimal)
Column No. 29:  AsianPerCap: per capita income for people with asian heritage (numeric - decimal)
Column No. 30:  OtherPerCap: per capita income for people with 'other' heritage (numeric - decimal)
Column No. 31:  HispPerCap: per capita income for people with hispanic heritage (numeric - decimal)
Column No. 32:  NumUnderPov: number of people under the poverty level (numeric - decimal)
Column No. 33:  PctPopUnderPov: percentage of people under the poverty level (numeric - decimal)
Column No. 34:  PctLess9thGrade: percentage of people 25 and over with less than a 9th grade education (numeric - decimal)
Column No. 35:  PctNotHSGrad: percentage of people 25 and over that are not high school graduates (numeric - decimal)
Column No. 36:  PctBSorMore: percentage of people 25 and over with a bachelors degree or higher education (numeric - decimal)
Column No. 37:  PctUnemployed: percentage of people 16 and over, in the labor force, and unemployed (numeric - decimal)
Column No. 38:  PctEmploy: percentage of people 16 and over who are employed (numeric - decimal)
Column No. 39:  PctEmplManu: percentage of people 16 and over who are employed in manufacturing (numeric - decimal)
Column No. 40:  PctEmplProfServ: percentage of people 16 and over who are employed in professional services (numeric - decimal)
Column No. 41:  PctOccupManu: percentage of people 16 and over who are employed in manufacturing (numeric - decimal) ########
Column No. 42:  PctOccupMgmtProf: percentage of people 16 and over who are employed in management or professional occupations (numeric - decimal)
Column No. 43:  MalePctDivorce: percentage of males who are divorced (numeric - decimal)
Column No. 44:  MalePctNevMarr: percentage of males who have never married (numeric - decimal)
Column No. 45:  FemalePctDiv: percentage of females who are divorced (numeric - decimal)
Column No. 46:  TotalPctDiv: percentage of population who are divorced (numeric - decimal)
Column No. 47:  PersPerFam: mean number of people per family (numeric - decimal)
Column No. 48:  PctFam2Par: percentage of families (with kids) that are headed by two parents (numeric - decimal)
Column No. 49:  PctKids2Par: percentage of kids in family housing with two parents (numeric - decimal)
Column No. 50:  PctYoungKids2Par: percent of kids 4 and under in two parent households (numeric - decimal)
Column No. 51:  PctTeen2Par: percent of kids age 12-17 in two parent households (numeric - decimal)
Column No. 52:  PctWorkMomYoungKids: percentage of moms of kids 6 and under in labor force (numeric - decimal)
Column No. 53:  PctWorkMom: percentage of moms of kids under 18 in labor force (numeric - decimal)
Column No. 54:  NumIlleg: number of kids born to never married (numeric - decimal)
Column No. 55:  PctIlleg: percentage of kids born to never married (numeric - decimal)
Column No. 56:  NumImmig: total number of people known to be foreign born (numeric - decimal)
Column No. 57:  PctImmigRecent: percentage of _immigrants_ who immigated within last 3 years (numeric - decimal)
Column No. 58:  PctImmigRec5: percentage of _immigrants_ who immigated within last 5 years (numeric - decimal)
Column No. 59:  PctImmigRec8: percentage of _immigrants_ who immigated within last 8 years (numeric - decimal)
Column No. 60:  PctImmigRec10: percentage of _immigrants_ who immigated within last 10 years (numeric - decimal)
Column No. 61:  PctRecentImmig: percent of _population_ who have immigrated within the last 3 years (numeric - decimal)
Column No. 62:  PctRecImmig5: percent of _population_ who have immigrated within the last 5 years (numeric - decimal)
Column No. 63:  PctRecImmig8: percent of _population_ who have immigrated within the last 8 years (numeric - decimal)
Column No. 64:  PctRecImmig10: percent of _population_ who have immigrated within the last 10 years (numeric - decimal)
Column No. 65:  PctSpeakEnglOnly: percent of people who speak only English (numeric - decimal)
Column No. 66:  PctNotSpeakEnglWell: percent of people who do not speak English well (numeric - decimal)
Column No. 67:  PctLargHouseFam: percent of family households that are large (6 or more) (numeric - decimal)
Column No. 68:  PctLargHouseOccup: percent of all occupied households that are large (6 or more people) (numeric - decimal)
Column No. 69:  PersPerOccupHous: mean persons per household (numeric - decimal)
Column No. 70:  PersPerOwnOccHous: mean persons per owner occupied household (numeric - decimal)
Column No. 71:  PersPerRentOccHous: mean persons per rental household (numeric - decimal)
Column No. 72:  PctPersOwnOccup: percent of people in owner occupied households (numeric - decimal)
Column No. 73:  PctPersDenseHous: percent of persons in dense housing (more than 1 person per room) (numeric - decimal)
Column No. 74:  PctHousLess3BR: percent of housing units with less than 3 bedrooms (numeric - decimal)
Column No. 75:  MedNumBR: median number of bedrooms (numeric - decimal)
Column No. 76:  HousVacant: number of vacant households (numeric - decimal)
Column No. 77:  PctHousOccup: percent of housing occupied (numeric - decimal)
Column No. 78:  PctHousOwnOcc: percent of households owner occupied (numeric - decimal)
Column No. 79:  PctVacantBoarded: percent of vacant housing that is boarded up (numeric - decimal)
Column No. 80:  PctVacMore6Mos: percent of vacant housing that has been vacant more than 6 months (numeric - decimal)
Column No. 81:  MedYrHousBuilt: median year housing units built (numeric - decimal)
Column No. 82:  PctHousNoPhone: percent of occupied housing units without phone (in 1990, this was rare!) (numeric - decimal)
Column No. 83:  PctWOFullPlumb: percent of housing without complete plumbing facilities (numeric - decimal)
Column No. 84:  OwnOccLowQuart: owner occupied housing - lower quartile value (numeric - decimal)
Column No. 85:  OwnOccMedVal: owner occupied housing - median value (numeric - decimal)
Column No. 86:  OwnOccHiQuart: owner occupied housing - upper quartile value (numeric - decimal)
Column No. 87:  RentLowQ: rental housing - lower quartile rent (numeric - decimal)
Column No. 88:  RentMedian: rental housing - median rent (Census variable H32B from file STF1A) (numeric - decimal)
Column No. 89:  RentHighQ: rental housing - upper quartile rent (numeric - decimal)
Column No. 90:  MedRent: median gross rent (Census variable H43A from file STF3A - includes utilities) (numeric - decimal)
Column No. 91:  MedRentPctHousInc: median gross rent as a percentage of household income (numeric - decimal)
Column No. 92:  MedOwnCostPctInc: median owners cost as a percentage of household income - for owners with a mortgage (numeric - decimal)
Column No. 93:  MedOwnCostPctIncNoMtg: median owners cost as a percentage of household income - for owners without a mortgage (numeric - decimal)
Column No. 94:  NumInShelters: number of people in homeless shelters (numeric - decimal)
Column No. 95:  NumStreet: number of homeless people counted in the street (numeric - decimal)
Column No. 96:  PctForeignBorn: percent of people foreign born (numeric - decimal)
Column No. 97:  PctBornSameState: percent of people born in the same state as currently living (numeric - decimal)
Column No. 98:  PctSameHouse85: percent of people living in the same house as in 1985 (5 years before) (numeric - decimal)
Column No. 99:  PctSameCity85: percent of people living in the same city as in 1985 (5 years before) (numeric - decimal)
Column No. 100:  PctSameState85: percent of people living in the same state as in 1985 (5 years before) (numeric - decimal)
Column No. 101:  LemasSwornFT: number of sworn full time police officers (numeric - decimal)
Column No. 102:  LemasSwFTPerPop: sworn full time police officers per 100K population (numeric - decimal)
Column No. 103:  LemasSwFTFieldOps: number of sworn full time police officers in field operations (on the street as opposed to administrative etc) (numeric - decimal)
Column No. 104:  LemasSwFTFieldPerPop: sworn full time police officers in field operations (on the street as opposed to administrative etc) per 100K population (numeric - decimal)
Column No. 105:  LemasTotalReq: total requests for police (numeric - decimal)
Column No. 106:  LemasTotReqPerPop: total requests for police per 100K popuation (numeric - decimal)
Column No. 107:  PolicReqPerOffic: total requests for police per police officer (numeric - decimal)
Column No. 108:  PolicPerPop: police officers per 100K population (numeric - decimal)
Column No. 109:  RacialMatchCommPol: a measure of the racial match between the community and the police force. High values indicate proportions in community and police force are similar (numeric - decimal)
Column No. 110:  PctPolicWhite: percent of police that are caucasian (numeric - decimal)
Column No. 111:  PctPolicBlack: percent of police that are african american (numeric - decimal)
Column No. 112:  PctPolicHisp: percent of police that are hispanic (numeric - decimal)
Column No. 113:  PctPolicAsian: percent of police that are asian (numeric - decimal)
Column No. 114:  PctPolicMinor: percent of police that are minority of any kind (numeric - decimal)
Column No. 115:  OfficAssgnDrugUnits: number of officers assigned to special drug units (numeric - decimal)
Column No. 116:  NumKindsDrugsSeiz: number of different kinds of drugs seized (numeric - decimal)
Column No. 117:  PolicAveOTWorked: police average overtime worked (numeric - decimal)
Column No. 118:  LandArea: land area in square miles (numeric - decimal)
Column No. 119:  PopDens: population density in persons per square mile (numeric - decimal)
Column No. 120:  PctUsePubTrans: percent of people using public transit for commuting (numeric - decimal)
Column No. 121:  PolicCars: number of police cars (numeric - decimal)
Column No. 122:  PolicOperBudg: police operating budget (numeric - decimal)
Column No. 123:  LemasPctPolicOnPatr: percent of sworn full time police officers on patrol (numeric - decimal)
Column No. 124:  LemasGangUnitDeploy: gang unit deployed (numeric - decimal - but really ordinal - 0 means NO, 1 means YES, 0.5 means Part Time)
Column No. 125:  LemasPctOfficDrugUn: percent of officers assigned to drug units (numeric - decimal)
Column No. 126:  PolicBudgPerPop: police operating budget per population (numeric - decimal)
Column No. 127:  ViolentCrimesPerPop: total number of violent crimes per 100K popuation (numeric - decimal) GOAL attribute (to be predicted)

In [63]:
# Revisemos cuantos valores faltantes (?) tiene la columna 1
print("====== Valores Faltantes ======")
print(data[[1]].value_counts())
print()
# Valores faltantes (?) en la columna 1
print("====== En Porcentaje ======")
print(((data[[1]] == '?').sum() / data[[1]].value_counts().sum()) * 100)

====== Valores Faltantes ======
1
?      1174
3        72
17       61
9        45
1        39
       ...
700       1
163       1
710       1
730       1
109       1
Length: 109, dtype: int64

====== En Porcentaje ======
1    58.87663
dtype: float64

Para todas las columnas que tengan un nivel porcentaje mayor al 50% de valores faltantes podemos eliminarlas debido a que son demasiados datos.

In [71]:
(((data[127] == '?').sum() / data[127].value_counts().sum()) * 100)

0.0

In [99]:
# Hacemos una lista de las columnas con valores faltantes por encima del 50%
cols = []
for column in data.columns:
    if (((data[column] == '?').sum() / data[column].value_counts().sum()) * 100) > 50:
        cols.append(column)
print('Total de Columnas:', len(cols))
print(cols)

Total de Columnas: 24
[1, 2, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 121, 122, 123, 124, 126]

In [100]:
# Eliminamos columnas
data = data.drop(cols, axis=1)

In [85]:
# Valores nulos
data.isnull().sum().sum()

0

In [87]:
# Valores duplicados
data.duplicated().sum()

0

In [95]:
# Revisamos nuevamente valores faltantes
(data == '?').sum()

0      0
3      0
4      0
5      0
6      0
      ..
118    0
119    0
120    0
125    0
127    0
Length: 104, dtype: int64

In [101]:
(data == '?').sum().sum()

1

In [140]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Columns: 104 entries, 0 to 127
dtypes: object(104)
memory usage: 1.6+ MB

In [142]:
# Cambiar todas las filas a valor entero
for column in data.columns:
    try:
        data[column] = data[column].astype(float)
    except ValueError:
        print(f'No se puede cambiar el tipo de dato en la columna {column}')
        continue

No se puede cambiar el tipo de dato en la columna 3
No se puede cambiar el tipo de dato en la columna 30

In [194]:
# Revisar si en la columna 30 tenemos el missing value
(data[30] == '?').sum()

0

In [179]:
# Identificamos el indice exacto
for idx in data.index:
    if data[30].iloc[idx] == '?':
        print('La fila con el valor (?) esta en el indice: ', idx)

La fila con el valor (?) esta en el indice:  130

In [190]:
# Eliminamos la fila que tiene el valor faltante
data=data.drop(130)

In [191]:
# Corroboramos la inexistencia de valores faltantes
(data == '?').sum().sum()

0

In [195]:
# Convertimos la columna que nos faltaba a float y mostramos un resumen
data[30] = data[30].astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 1993
Columns: 104 entries, 0 to 127
dtypes: float64(103), object(1)
memory usage: 1.6+ MB

In [196]:
data.shape

(1993, 104)

In [197]:
df = data.drop(data[[3]], axis=1)
type(df)

pandas.core.frame.DataFrame

In [253]:
# Matriz de correlacion de variables
corr_matrix_pearson = df.corr(method='pearson')
# Columnas con correlaciÃ³n positiva a la columna 127
print(df.columns[corr_matrix_pearson[127].sort_index(ascending=True) > 0])

Int64Index([  5,   7,   9,  10,  11,  12,  13,  14,  15,  16,  21,  22,  32,
             33,  34,  35,  37,  41,  43,  44,  45,  46,  47,  54,  55,  56,
             57,  58,  59,  60,  61,  62,  63,  64,  66,  67,  68,  71,  73,
             74,  76,  79,  80,  82,  83,  91,  92,  93,  94,  95,  96,  99,
            118, 119, 120, 125, 127],
           dtype='int64')

In [255]:
# Tabla de columnas con correlaciÃ³n positiva
df[df.columns[corr_matrix_pearson[127].sort_index(ascending=True) > 0]]

,5,7,9,10,11,12,13,14,15,16,...,93,94,95,96,99,118,119,120,125,127
0,0.19,0.02,0.12,0.17,0.34,0.47,0.29,0.32,0.20,1.0,...,0.25,0.04,0.00,0.12,0.51,0.12,0.26,0.20,0.32,0.20
1,0.00,0.12,0.45,0.07,0.26,0.59,0.35,0.27,0.02,1.0,...,0.18,0.00,0.00,0.21,0.60,0.02,0.12,0.45,0.00,0.67
2,0.00,0.49,0.17,0.04,0.39,0.47,0.28,0.32,0.00,0.0,...,0.28,0.00,0.00,0.14,0.67,0.01,0.21,0.02,0.00,0.43
3,0.04,1.00,0.12,0.10,0.51,0.50,0.34,0.21,0.06,1.0,...,0.47,0.00,0.00,0.19,0.64,0.02,0.39,0.28,0.00,0.12
4,0.01,0.02,0.09,0.05,0.38,0.38,0.23,0.36,0.02,0.9,...,0.21,0.00,0.00,0.11,0.61,0.04,0.09,0.02,0.00,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,0.01,0.10,0.12,0.16,0.43,0.51,0.35,0.30,0.03,1.0,...,0.39,0.00,0.00,0.22,0.48,0.01,0.28,0.05,0.00,0.09
1990,0.05,0.46,0.83,0.32,0.69,0.86,0.73,0.14,0.06,1.0,...,0.31,0.01,0.00,0.53,0.10,0.02,0.37,0.20,0.00,0.45
1991,0.16,0.25,0.04,0.25,0.35,0.50,0.31,0.54,0.17,1.0,...,0.53,0.06,0.02,0.25,0.79,0.08,0.32,0.18,0.91,0.23
1992,0.08,0.06,0.22,0.10,0.58,0.74,0.63,0.41,0.09,1.0,...,0.40,0.04,0.01,0.45,0.59,0.03,0.38,0.33,0.22,0.19
1993,0.20,0.14,0.24,0.77,0.50,0.62,0.40,0.17,0.21,1.0,...,0.21,0.08,0.08,0.68,0.35,0.11,0.30,0.05,1.00,0.48